#hardware {
	background-image: url("pclineup.jpg");
}

#software {
	background-image: url("software.jpg");
	background-size: cover
}

#html {
	background-image: url("html.jpg");
	background-size: cover
}
#css {
	background-image: url("css.jpg");
	background-size: cover
}
#java {
	background-image: url("java.jpg");
	background-size: cover
}

#input {
	text-align: center;
}
ol {
	font-family: arial;
	color: white;
	font-size: 12px;
	list-style: upper-alpha;

}

h3 {
	font-family: arial;
	color: white;
	text-align: center;
}

div {
	overflow: hidden;
	background-color: #CE9EC3;
	box-shadow: 0px 0px 20px white;
	opacity: 0.91;

	min-height: 100px;
	min-width: 100px;
	padding-bottom: 20px;

}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
}

a:hover {
	color: grey;
	transition: 0.3s;
}

