body {
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img {
    max-width:7%;
    max-height:7%;
}


div {
    overflow: hidden;
    background-color: #CE9EC3;
    box-shadow: 0px 0px 20px white;
    opacity: 0.91;
    width: auto;
    margin: auto;
    min-height: 100px;
    min-width: 100px;
}

textarea {
    background-color: #C6B7F7;
    border: 1px solid #888; 
}